{% macro render_post(post,with_edit_button,with_delete_button,with_pair_button,with_checkbox) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ post.datetime | dateformat("%d/%m/%y") }}
            </li>
            <li>
                by {{ post.author.name }}
            </li>
            <li>
                post id: {{ post.id }}
            </li>  
        </ul>
    </div>
    <div class="col-md-10">
        <a href="/post/{{ post.id }}">
          <h1>
              {{ post.title }}
          </h1>
        </a>
        {% if with_checkbox %}
        <input type="checkbox" name="new_paired_words" value="{{post.id}}"> Pair with this word</input>
        {% endif %}
        {% if with_edit_button %}
        <button type=button class="btn btn-default"><a href="/post/{{ post.id }}/edit">edit word</a>        </button>
        {% endif %}
        {{ post.content | safe }}
        {% if with_delete_button %}
        <button type=button class="btn btn-default"><a href="/post/{{ post.id }}/delete">Delete word</a></button>
        {% endif %}
        {% if with_pair_button %}
        <button type=button class="btn btn-default"><a href="/word/{{ post.id }}/pair">Pair word</a></button>
        {% endif %}
        {% if post.right_nodes %}
            <h4>Paired with word(s):</h4>
            <ul>
            {% for node in post.right_nodes %}
              <li>
                  {{ node.title | safe }} (id={{ node.id | safe }})
                  <form method="POST" action="/unpair/{{ post.id }}/{{ node.id }}">
                  <button type=submit>Unpair {{ post.id }} and {{ node.id }}</button></form>
                  </br>
              </li>  
            {% endfor %}
            </ul>  
        {% endif %}
<!--         {{ post.category | safe }}
        {{ post.level | safe }} -->
    </div>
</div>
{% endmacro %}





