{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{{macros.render_post(word, with_checkbox=false, with_pair_button=false)}} <!-- displays main word -->
<hr>
{% if posts %}
<form method="POST">
    <button type=submit class="btn btn-default">Pair with checked words below</button>
    <!-- This displays the filter list. Only words that are not already 
    among the right-nodes appear -->
    {% for post in posts %}
    <!-- Avoids displaying the main word OR words that are already paired with it -->
    {% if post.id==word.id or post in word.right_nodes %} 
    pass
    {% else %}
    {{ macros.render_post(post,with_checkbox=false, with_pair_button=true) }}
    {% endif %}
{% endfor %}
</form>
{% else %}
<p>There is nothing to pair with</p>
{% endif %}

{% endblock %}