{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<!-- This displays the word being paired with others -->
{{macros.render_post(word,false,false)}} 
<hr>
{% if posts %}
<form method="POST">
    <button type=submit class="btn btn-default">Pair with checked words below</button>
    <!-- This displays the filter list. Only the other words will appear. -->
    {% for post in posts %}
    {% if post.id==word.id %}
    pass
    {% else %}
    {{ macros.render_post(post,false,true) }}
    {% endif %}
{% endfor %}
</form>
{% else %}
<p>There is nothing to pair with</p>
{% endif %}

{% endblock %}